@media screen {
    
.data-content-r {
    display: flex;
    overflow: auto;
    padding-top: 50px;
    border-bottom:2px solid var(--light-color);
}

.data-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data-n-b {
    padding: 5px 30px;
    border-radius: 10px 10px 0 0;
    background-color: var(--background-color);
}

.datapage {
    color: var(--background-color);
    background-color: var(--primary-color);
}

.data-b {
    width: 100%;
    display: flex;
    padding: 20px 0;
    align-items: center;

}

.data-b h1 {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}


.data-b:first-child {
    color: var(--primary-color);
}

/* data-view css  */
.inner-view-content {
    gap: 20px;
    display: flex;
    padding-top: 30px;
    align-items: center;
    flex-direction: column;
}


.inner-view-content h1 {
    font-size: 1.4rem;
    color: var(--dark-color);
}

.inner-view-content tr {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}


/* edit view  */

.edit-view {
    display: flex;
}

.edit-view-f {
    gap: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

.edit-table2 {
    display: none;
}

.edit-view th {
    color: var(--secondary-color);
    background-color: var(--background-color);
}



.btn-f {
    padding: 10px 50px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  
  }
  
  .u-a {
    color: var(--background-color);
    background-color: var(--primary-color);
  }
  
  .u-r {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
  
}

.e-u {
 width: 150px;
}

.e-a {
    background-color: var(--background-color);
}


}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
        



    .data-nav {
        width: 30%;
    }

    .edit-view-f {
        justify-content: end;
        
    }

    .data-b h1 {
        align-items: flex-start;
    }
    
    
    
}

